- action_card = ActionCard.new do
  - input :threshold, :float, "Pvalue threshold", 0.01

= action_card_render action_card do
  - threshold = 0.01 if threshold.nil? || threshold.empty?
  - threshold = threshold.to_f

  - require 'rbbt/rest/common/tabs'
  
  = tabs do |tab|
    - tab.active "INT_PD_PI"
    - max = AGS::TREATMENTS.length * AGS::TIME_POINTS.length
    - @step.progress_bar "processing decoupler", :max => max do |bar|
      - AGS::TREATMENTS.each do |treatment|
        - tab.add treatment do
          .figure
            .title
              FC0
            .content
              = table do
                - tsv = AGS::TIME_POINTS.inject(nil) do |acc,time_point|
                  - t = AGS.job(:timepoint_decoupler, treatment: treatment, time_point: time_point, data_type: :fc, :threshold => threshold, target_subset: list).run
                  - t = t.select{|k,vs| vs.reject{|v| v.to_f == 0}.any? }
                  - acc = acc.nil? ? t : acc.attach(t, :complete => true)
                - next tsv
              - bar.tick
