- action_card = ActionCard.new 

= action_card_render action_card do

  - tsv = AGS.fold_changes
  - tsv = tsv.select(list.to(:name))
  - height = tsv.length * 10

  - new = tsv.annotate({})
  - tsv.each do |k,vs|
    - new[k] = vs.collect{|v| v *= 10; v < -1 ? - Math.log(-v) : (v < 1 ? 0 : Math.log(v)) }
  - tsv = new
  - tsv = tsv.reorder :key, AGS::TREATMENTS.collect{|t| AGS::TIME_POINTS.collect{|tp| "FC_#{t}.T#{tp}" }}.flatten

  = tool :Rpng, :plot => "rbbt.require('pheatmap');pheatmap(data, cluster_cols=FALSE)", :data => tsv
 


